pyrogram==1.4.16
py-tgcalls==0.8.6
pyyaml==5.3.1
parse-torrent-name
tgcrypto
yt-dlp
youtube-search-python
httpx==0.23.0
youtube-search
heroku3
pillow
motor==3.0.0
dnspython
pytz
apscheduler
python-dotenv
ffmpeg-python
